---
layout: default
title: Welcome to Area 3001
description: "This is the official home of Area 3001 - a hackerspace in Leuven"
categories: none
published: true
---

<h3>Welcome to Area 3001</h3>
    <p>Area 3001 is a hackerspace in Leuven, and was founded on the July 16, 2013. Yup, that's quite young.</p>

  <h3>Posts<h3>

    <ul>
      {% for post in site.posts %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

  <h3>Projects</h3>
    Feel free to browse and contribute to Area 3001 projects.

      <ul>
	{% for page in site.html_pages %}
	  {% if page.title %}
	    {% if page.showinnav == true and page.categories contains "projects" %}
	      <li><a href="{{ page.url | remove:'index.html' }}">{{ page.title }}</a></li>
	    {% endif %}
	  {% endif %}
	{% endfor %}
      </ul>
  
  <h3>Tutorials</h3>
      <ul>
	{% for page in site.html_pages %}
	  {% if page.title %}
	    {% if page.showinnav == true and page.categories contains "tutorial" %}
	      <li><a href="{{ page.url | remove:'index.html' }}">{{ page.title }}</a></li>
	    {% endif %}
	  {% endif %}
	{% endfor %}
	<li>...</li>
      </ul>
      
  <h3>Support or Contact</h3>
    hackerspace.area.3001 at (the google mail thingy) gmail.com
