---
layout: default
title: Welcome to Area 3001
description: "This is the official home of Area 3001 - a hackerspace in Leuven"
categories: none
published: true
---

<h3>Welcome to Area 3001</h3>
    <p>16 July 2013: AREA 3001 alive... come back for more information in a couple of days...</p>
    <p>Contribute to the site: prose.io for a slick editor, or git commands:</p>

      <pre><code>$ git clone https://github.com/area3001/area3001.github.io.git
      $ 							# Modify, add files
      $ git status    					# Check what you did
      $ git add add_or_changed_files			# Add the files (stage)
      $ git commit -m "description of your changes" 	# Commit the files local
      $ git push origin master				# Sync/upload to the GitHub server
      </code></pre>

      Monks without push permission, should fork the project, and send a pull request.

  <h3>Projects</h3>
    Feel free to browse and contribute to Area 3001 projects.

      <ul>
	{% for page in site.html_pages %}
	  {% if page.title %}
	    {% if page.showinnav == true and page.categories contains "projects" %}
	      <li><a href="{{ page.url | remove:'index.html' }}">{{ page.title }}</a></li>
	    {% endif %}
	  {% endif %}
	{% endfor %}
      </ul>
  
  <h3>Tutorials</h3>
      <ul>
	{% for page in site.html_pages %}
	  {% if page.title %}
	    {% if page.showinnav == true and page.categories contains "tutorial" %}
	      <li><a href="{{ page.url | remove:'index.html' }}">{{ page.title }}</a></li>
	    {% endif %}
	  {% endif %}
	{% endfor %}
	<li>...</li>
      </ul>
      
  <h3>Support or Contact</h3>
    hackerspace.area.3001 at (the google mail thingy) gmail.com